nav {
    background-color: #141414;
    height: 50px;
    font-weight: 400;
}

#nav-main-div {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-div {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav-login-reg {
    display: flex;
    gap: 5px;
    font-size: 12px;
    cursor: pointer;
}

.nav-login-reg span:hover {
    color: #B3B3B3;
}

.nav-login-reg svg {
    padding-top: 1px;
}

#logo-div img {
    width: 25px;
    height: 25px;
}

#login-reg-nav-div {
    display: flex;
    gap: 20px;
}
